* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: black;
}

#content {
  height: 100%;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}


.active {
  display: flex !important;
}

.activeCircle {
  background-color: #1E91D6 !important;
}


.arrowContainer {
  position: absolute;
  width: 100%;
}

#previousButton,
#nextButton {
  position: absolute;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;

}

#previousButton {
  left: 0;
}

#nextButton {
  right: 0;
}

.circlesContainer {
  position: absolute;
  bottom: 0;
}